@import "vars"
@import "fonts"
.aside
	max-width: 257px
	align-items: stretch
	flex: 1
	display: flex
	flex-direction: column
	background: #fff url(../img/toolbar@2x.jpg) top left no-repeat

.aside-user
	color: #fff
	padding: 27px 17px 14px 17px
	&__img
		width: 64px
		height: 64px
		border-radius: 50%
		margin-bottom: 13px

	&__name, &__email
		margin-left: 5px
		line-height: 1.5
		color: $white-two

.aside-menu
	height: 100%
	background: #fff
	border: solid 1px $pinkish-grey
	align-items: stretch

	&__list
		list-style-type: none
		padding-left: 25px
		padding-top: 15px
		margin-bottom: 0

		&_bordered
			border-bottom: solid 1px $pinkish-grey	

	&__list-item
		display: flex
		align-items: center
		padding: 5px 0 22px

	&__list-img
		margin-right: 32px
			
		