@import "vars"
@import "fonts"
@import "libs"
@import "aside"
@import "main-block"
@import "sprite"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 14px
	min-width: 1000px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	box-sizing: border-box
	background: #fff
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

	*
		box-sizing: border-box		

.wrapper
	min-width: 1000px
	display: flex
	align-item: stretch
	flex-direction: row
	// position: relative

.link
	color: $dark-grey
	font-size: 15px
	text-decoration: none	
	&:hover, &_active
		text-decoration: none
		color: $azure

.write-plagin
	display: inline-block
	position: absolute
	right: 28px
	bottom: 15px				








@import "media" // Always at the end
