@import "vars"
@import "fonts"
@import "sprite"

.main-wrap
	background: $white
	flex: 2
	align-items: stretch
	display: flex
	flex-direction: column
	position: relative

.main-header
	height: 64px
	background: $azure
	display: flex
	align-items: center
	justify-content: space-between
	padding: 0 40px 0 25px
	&__title
		font-size: 21px
		color: #fff
		line-height: 24px
		margin-right: auto
		margin-left: 27px
	&__refresh
		margin-left: auto
		margin-right: 45px	


.main-content
	display: flex
	align-items: stretch
	padding: 18px 17px 20px 66px

.paper-shadow
	background: #fff
	border-radius: 2px
	box-shadow: 0 2px 10px 0 $shadow1, 0 2px 5px 0 $shadow2

.users-block
	max-width: 654px
	flex-grow: 2
	align-items: stretch
	margin-right: 14px
	padding: 0 0 5px 28px

.users-element
	display: flex
	padding-top: 23px

	&__list
		list-style-type: none
		padding-left: 0
		flex-grow: 4
		border-bottom: 1px solid $border
		margin-bottom: 0

	&__list-item
		margin-bottom: 20px

	&__list-link
		&_active
			color: $azure	

	&__list-img
		max-width: 39px
		max-height: 39px
		border-radius: 50%
		margin-right: 15px	

.letter
	width: 55px
	align-items: stretch
	font-size: 24px
	color: $pink
	text-transform: uppercase
	&__img
		margin-top: -9px		

.user-info
	max-width: 432px
	flex-grow: 1
	align-items: stretch
	margin-bottom: 22px

.user-photo
	position: relative
	&__img
		max-width: 100%
	&__name
		font-size: 35px
		color: $white-two
		letter-spacing: -0.4px
		position: absolute
		left: 26px
		bottom: 18px

	&__link
		display: inline-block
		position: absolute
		top: 25px
		z-index: 5
	&__arrow-back		
		left: 25px
	&__create
		right: 64px	
	&__more
		right: 27px	
			
.contacts-row	
	display: flex
	align-items: center
	padding-top: 27px
	&__img
		width: 84px
		text-align: center
		align-self: center

	&__text
		width: 200px
		font-size: 16px
		color: $dark-grey
		letter-spacing: -0.1px
		line-height: 1.4
	&__text-desc
		font-size: 13px
		color: $warm-grey
	&_bordered
		.contacts-row__img
			padding-top: 23px
		.contacts-row__text
			padding-top: 23px
			flex-grow: 4
			border-top: 1px solid $border	

	&__hangout
		align-self: center
		margin-left: auto
		margin-right: 22px
									